@import url(/packages/notifier/src/assets/notifier.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;

}
